body {
  background-color: rgb(221, 217, 217);
}

.list-container {
  margin: 0;
}

#tab {
  background-color: white;
  box-shadow: 10px 10px 10px grey;
  max-width: 30%;
  margin: auto;
  height: 50vh;
  margin-top: 100px;
  position: relative;
}

.main {
  border-bottom: 1px solid grey;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.add-bar {
  max-width: 100%;
  width: 90.7%;
}

input {
  border-style: hidden;
}
